<div>
  <footer>
    <div class="footer-container">
      <div class="footer-info">
        <h3>BookFlow</h3>
        <p>BookFlow es una plataforma dedicada a promover y enriquecer los hábitos de lectura mediante tecnología innovadora. Nuestro equipo está comprometido con la creación de un entorno seguro y acogedor para los amantes de la lectura de todas las edades, con el objetivo de inspirar, educar y entretener a través del poder de las palabras.</p>
      </div>
      <div class="footer-links">
        <h3>Enlaces</h3>
        <ul>
          <li><a href="">INICIO</a></li>
          <li><a href="#integrantes">NOSOTROS</a></li>
          <li><a href="/home/Catalogue">CATÁLOGO</a></li>
          <li><a href="#contacto">CONTACTOS</a></li>
        </ul>
      </div>
      <div class="footer-contacto">
        <h3>Contacto</h3>
        <p>Telf. : (01) 900378571 Lima, Perú</p>
        <div class="redes-sociales">
          <a href="https://twitter.com/BookFlowOficial"><img src="./assets/logo-twitter.png" alt="logo-twiter" width="40px" height="37px"></a>
          <a href="https://www.facebook.com/BookFlowOficial"><img src="./assets/logo-facebook.png" alt="logo-facebook" width="40px" height="37px"></a>
          <a href="https://www.instagram.com/BookFlowOficial/"><img src="./assets/logo-instagram.png" alt="logo-instagram" width="40px" height="37px"></a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2025 BookFlow. Todos los derechos reservados a Joaquin Rivadeneyra.</p>
    </div>
  </footer>
</div>

