<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <title>BookFlow</title>
</head>
<p>
  <mat-toolbar color="primary" class="responsive-toolbar">
    <div class="logo">
      <a href="/"><img src="./assets/LogoBook.jpeg" alt="Logo de la empresa BookFlow" width="210" height="70"></a>
    </div>
    <button class="menu-button" aria-label="Menu" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <nav [class.show-menu]="showMenu">
      <a href="">INICIO</a>
      <a href="#integrantes">NOSOTROS</a>
      <a href="/home/Catalogue">CATÁLOGO</a>
      <a href="#contacto">CONTACTOS</a>
      <div class="button-wrapper">
        <a href="/home/iniciosesion" class="button-link">ÚNETE AQUÍ</a>
        <button aria-label="Profile" onclick="window.location.href = '/home/profile';">
          <img src="./assets/icono_1.png" alt="Icono1" width="30px" height="30px">
        </button>
      </div>
    </nav>
  </mat-toolbar>
<p>
