
<div class="container-wrapper">
  <div class = "comment-information">
    <div class = "comment-info-content">
      <div class = "comment-text">
        <h2 class="comment-info">Comentarios y reseñas</h2>
      </div>
      <div class = "bars">
        <label class="review">Comentario</label>
        <input type="review-bar" id="Reseña" name="Reseña" placeholder="Escriba su comentario ..."
               style="background-color: whitesmoke;">
      </div>
      <button class = "icon-button" (click)="enviarMensaje()">
        <p>Enviar</p>
      </button>
    </div>
  </div>
</div>
