<div class="titulo-container">
  <div id="titulo">Tendencias:</div>
  <a href="/home/Catalogue"><button class="volver">BACK</button> </a>
</div>
<div class="books-container" aria-labelledby="Page">
  <mat-card *ngFor="let book of libros" class="book-card" role="article" aria-labelledby="book-title" (click)="getDetails(book)">
    <img mat-card-image [src]="book.img" alt="Imagen del libro" role="img" aria-label="meal image">
    <mat-card-header>
      <mat-card-title role="heading" aria-level="2">{{ book.name }}</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

<BR>

