<div class="container">
  <form class="register-form" [formGroup]="form" (submit)="onSubmit()">
    <h2>Register</h2>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" placeholder="email" id="email" name="email" required formControlName="email">
      <mat-error *ngIf="isInvalidControl(form, 'email')">{{ errorMessagesForControl(form, 'email') }}</mat-error>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" placeholder="password" id="password" name="password" required formControlName="password">
      <mat-error *ngIf="isInvalidControl(form, 'password')">{{ errorMessagesForControl(form, 'password') }}</mat-error>
    </div>
    <button type="submit">Register</button>
  </form>
  <div class="login-link">
    <br>
    <p>¿Ya tienes una cuenta? <a [routerLink]="['home/iniciosesion']">Inicia sesión aquí</a>.</p>
  </div>
</div>
