.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f5f5f5;
}

.create-club-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mat-form-field {
  margin-bottom: 1.5rem;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.book-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;

}

.book-image img {
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 600px) {
  .create-club-card {
    padding: 1rem;
  }

  .button-container {
    justify-content: center;
  }
}
