<div class="books-container" aria-labelledby="Page">
  <mat-card *ngFor="let club of clubs" class="book-card" role="article" aria-labelledby="book-title">
    <mat-card-header>
      <mat-card-title>{{ club.clubName }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="getBookImage(club.clubId)" alt="Imagen del libro" role="img" aria-label="book image">
    <mat-card-content>
      <p><strong>Description:</strong><br> {{club.clubDescription}}</p>
      <p><strong>Meeting Date:</strong><br> {{club.meetingDate}}</p>
    </mat-card-content>

  </mat-card>
  <button mat-flat-button color="primary" class="mat-flat-button create-club-button2" (click)="goBack()">Back</button>

</div>
