<div class="container">
  <h2>Sign Up</h2>
  <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
    <div class="input-group">
      <input matInput placeholder="User" id="username" name="username" required formControlName="username">
      <mat-error *ngIf="isInvalidControl(form, 'username')">{{ errorMessagesForControl(form, 'username')}}</mat-error>
    </div>
    <div class="input-group">
      <input matInput placeholder="Password" id="password" name="password" required formControlName="password">
      <mat-error *ngIf="isInvalidControl(form, 'password')">{{ errorMessagesForControl(form, 'password')}}</mat-error>
    </div>
    <button class="orange-button">Sign Up</button>
    <div>
      <br>
      <p>¿Ya tiene una cuenta? <a href="/sign-in">Ingrese aquí</a>.</p>
    </div>
  </form>
</div>
