<div class="container">
  <div class="form-row">
    <div class="form-column">
      <div class="profile-picture">
        <img src="./assets/imagen-joaquin.png" alt="Foto de perfil">
      </div>
    </div>
    <div class="form-column">
      <p>Age: 20</p>
      <p>Email: {{user.username}}</p>
      <p>Description: I'm a book lover who enjoys reading a wide variety of genres. I'm always looking for new recommendations and love discussing books with fellow readers."</p>
      <p>Favorites: <br>A CALAMITY OF SOULS",
        <br>"THE ECHO WIFE",
        <br>"THE MURDER INN</p>
    </div>
  </div>
  <div class="submit-button">
    <a href="/home/profile/editprofile">
      <button type="button">Editar perfil</button>
    </a>
  </div>
  <button type="button" (click)="onSignOut()">Sign Out</button>
</div>
