<div class="container">
  <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
    <h2>Login</h2>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" placeholder="Email" id="email" name="email" required formControlName="email">
      <mat-error *ngIf="isInvalidControl(form, 'email')">{{ errorMessagesForControl(form, 'email')}}</mat-error>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" name="password" required formControlName="password">
      <mat-error *ngIf="isInvalidControl(form, 'password')">{{ errorMessagesForControl(form, 'password')}}</mat-error>
    </div>
    <button type="submit">Sign In</button>
    <!--<button mat-raised-button color="primary" [disabled]="form.invalid">Sign In</button>-->
  </form>
  <!--<div *ngIf="loginSuccess" class="success-message">
    ¡Inicio de sesión exitoso!
  </div>-->
  <div class="register-link">
    <br>
    <p>¿No tienes una cuenta? <a href="home/registro">Regístrate aquí</a>.</p>
  </div>
</div>
