<div class="titulo-container">
  <div id="titulo">Mis Listas de Lectura:</div>
  <a href="/home/Catalogue" class="volver-button">BACK</a>
</div>
<div class="lectura-container">
  <!-- Lista 1 -->
  <div class="lista-container">
    <div class="lista-titulo">Lista 1</div>
    <div class="lista-libros">
      <mat-card class="lecture-card" *ngFor="let book of books | slice:0:28"(click)="redirectToBookDetails(book)">
        <div class="libro">
          <img [src]="book.img" alt="Libro">
          <div class="libro-nombre">{{book.name}}</div>
          <div class="libro-description">{{book.description}}</div>
          <!--<button class="ver-button">Ver</button>-->
        </div>
      </mat-card>
    </div>
  </div>

  <!-- Lista 2 -->
  <div class="lista-container">
    <div class="lista-titulo">Lista 2</div>
    <div class="lista-libros">
      <mat-card class="lecture-card" *ngFor="let book of books | slice:28:56" (click)="redirectToBookDetails(book)">
        <div class="libro">
          <img [src]="book.img" alt="Libro">
          <div class="libro-nombre">{{book.name}}</div>
          <div class="libro-description">{{book.description}}</div>
          <!--<button class="ver-button">Ver</button>-->
        </div>
      </mat-card>
    </div>
  </div>
</div>
